<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>响应式网页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.3.js"></script>
    <script src="js/index.js"></script>

</head>
<body>
<!--头部-->
<div class="header">
        <div class="name">
            <h2>嗨社区</h2>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#one">首页</a> </li>
                <li><a href="#two">走着瞧</a> </li>
                <li><a href="#three">起来嗨</a> </li>
                <li><a href="#four">嗨玩意</a> </li>
                <li><a href="#five">嗨客说</a> </li>
                <li><a href="#six">嗨视角</a> </li>
            </ul>
        </div>
        <div class="nav-icon fa fa-navicon" id="btn"></div>
    </div>

<!--首页轮播图部分-->
<div class="banner" id="one">
    <div class="slide clear">
        <img src="images/b01.jpg" class="show">
        <img src="images/b02.jpg" class="hide">
        <img src="images/b03.jpg" class="hide">
        <img src="images/b04.jpg" class="hide">
    </div>
    <!--<div class="pre "><a href="javascript:;"><</a> </div>-->
    <!--<div class="next"><a href="javascript:;">></a></div>-->
</div>

<!--主体内容区-->
<div class="main" id="fzw">
    <div class="section1" id="two">
        <div class="inner">
            <div class="title">
                <h2>走着瞧</h2>
            </div>
            <div class="content clear">
                <ul>
                    <li class="mar">
                        <a href="#"><img src="images/s101.jpg"></a>
                        <h4>我的第一次给了你 曼谷宜</h4>
                        <p>2016-09-18</p>
                    </li>
                    <li class="mar">
                        <a href="#"><img src="images/s102.jpg"></a>
                        <h4>【游古兜】海量美图详解</h4>
                        <p>2016-09-18</p>
                    </li>
                    <li>
                        <a href="#"><img src="images/s103.jpg"></a>
                        <h4>青山清水客家人，方圆土</h4>
                        <p>2016-09-18</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="section2" id="three">
        <div class="inner">
            <div class="title">
                <h2>起来嗨</h2>
            </div>
            <div class="content clear">
                <div class="left">
                    <a href="#"><img src="images/s201.jpg"></a>
                    <div class="img-cover">
                        <h4>选中我去泰国体验曼谷宜</h4>
                        <p>2016-09-18</p>
                    </div>

                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#"><img src="images/s202.jpg"></a>
                            <div class="img-cover">
                                <h4>泰国是没有一次性洗漱用</h4>
                                <p>2016-09-18</p>
                            </div>

                        </li>
                        <li>
                            <a href="#"><img src="images/s203.jpg"></a>
                            <div class="img-cover">
                                <h4>打印一份返程机票的行程</h4>
                                <p>2016-09-18</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="section3" id="four">
        <div class="inner">
            <div class="title">
                <h2>嗨玩意</h2>
            </div>
            <div class="content">
                <div class="row row1">
                    <ul class="clear">
                        <li class="pic-left">
                            <a href="#"><img src="images/s301.jpg"></a>
                            <div class="img-cover">
                                <h4>长溪村的古桥有数百年的</h4>
                                <p>2016-09-19</p>
                            </div>

                        </li>
                        <li class="pic-right">
                            <a href="#"><img src="images/s302.jpg"></a>
                            <div class="img-cover">
                                <h4>这条户外徒步线路是如何</h4>
                                <p>2016-09-19</p>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="row row2">
                    <ul class="clear">
                        <li class="pic pic1">
                            <a href="#"><img src="images/s303.png"></a>
                            <div class="img-cover">
                                <h4>幽州行,向阳口百慕大。盖</h4>
                                <p>2016-09-19</p>
                            </div>
                        </li>
                        <li class="pic pic2">
                            <a href="#"><img src="images/s304.png"></a>
                            <div class="img-cover">
                                <h4>有点儿晚 【黑白子2016中秋</h4>
                                <p>2016-09-19</p>
                            </div>
                        </li>
                        <li class="pic pic3">
                            <a href="#"><img src="images/s305.jpg"></a>
                            <div class="img-cover">
                                <h4>我是怎么来到绿野的？-</h4>
                                <p>2016-09-19</p>
                            </div>
                        </li>
                        <li class="pic pic4">
                            <a href="#"><img src="images/s306.jpg"></a>
                            <div class="img-cover">
                                <h4>九月 约伴喀纳斯 最美丽的</h4>
                                <p>2016-09-19</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section4" id="five">
        <div class="inner">
            <div class="title">
                <h2>嗨客说</h2>
            </div>
            <div class="content">
                <ul class="clear">
                    <li>
                        <div class="pic-circle">
                            <img src="images/s401.jpg">
                        </div>
                        <h4>亲身感受大自然清新</h4>
                        <p>早餐后驾车穿越大兴安岭，亲身感受大自然清新，沿途观赏草原上成群...</p>
                        <p  style="text-align: right;" class="admin">---admin</p>
                    </li>
                    <li>
                        <div class="pic-circle">
                            <img src="images/s402.jpg">
                        </div>
                        <h4>国家森林公园景区里包含</h4>
                        <p>座植被茂密的天然氧吧，这里曾是电影《夜宴》的外景地。国家森林公...</p>
                        <p  style="text-align: right;" class="admin">---admin</p>
                    </li>
                    <li>
                        <div class="pic-circle">
                            <img src="images/s403.jpg">
                        </div>
                        <h4>中国温泉博物馆 中国温泉</h4>
                        <p>阿尔山绝对是理想休闲、度假、疗养的好地方。 中国温泉博物馆 中国温...</p>
                        <p  style="text-align: right;" class="admin">---admin</p>
                    </li>
                    <li class="li-last">
                        <div class="pic-circle">
                            <img src="images/s404.jpg">
                        </div>
                        <h4>世界最大的温泉群已经在</h4>
                        <p>阿尔山市位于内蒙古自治区兴安盟西北部，全称“哈伦•阿尔山”，意...</p>
                        <p  style="text-align: right;" class="admin">---admin</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section5" id="six">
        <div class="inner">
            <div class="title">
                <h2>嗨视角</h2>
            </div>
            <div class="content clear">
                <ul>
                    <li class="mar">
                        <a href="#"><img src="images/s501.png"></a>
                        <h4>领队车大功率车载电台应</h4>
                        <p>2016-09-19</p>
                    </li>
                    <li class="mar">
                        <a href="#"><img src="images/s502.jpg"></a>
                        <h4>天津最近的沙漠，也是越</h4>
                        <p>2016-09-19</p>
                    </li>
                    <li>
                        <a href="#"><img src="images/s503.jpg"></a>
                        <h4>你听见清脆驼铃，就绽放</h4>
                        <p>2016-09-19</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>

<div class="footer">
    <div class="inner">
        <div class="foot">
            <ul class="clear">
                <li>
                    <h2>嗨社区</h2>
                    <p>关于嗨社区</p>
                    <p>加入我们</p>
                    <p>其他</p>
                </li>
                <li>
                    <h2>合作伙伴</h2>
                </li>
                <li>
                    <span class="fa fa-weibo mar"></span>
                    <span class="fa fa-qq mar"></span>
                    <span class="fa fa-weixin"></span>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="bot">
    <div class="inner">
        <p>© Copyright 2016 <a href="" >fzw.com</a> All rights reserved.</p>
    </div>
</div>
</body>
</html>