<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"  content="width=device-width,initial-scale=1.0">
		<title></title>
		<link href="css/animations.css"  rel="stylesheet"/>
		<link href="css/index.css"  rel="stylesheet"/>
        <script src="js/zepto.min.js"></script>
        <script src="js/touch.js"></script>
        <script src="js/index.js"></script>
	</head>
	<body>
    <div>
        <div class="page page1 page-1-1 page-current">
            <div class="wrap">
                <img id="page-1-img-1" src="img/page1_text.png" class="pt-page-moveFromLeft ">
                <img id="page-1-img-2" src="img/call.png" class="pt-page-moveFromBottomFade pt-page-delay1000">
            </div>
        </div>
        <div class="page page2 page-2-1 hide">
            <div class="wrap">
                <img id="page-2-img-1" src="img/img_06.png" class="pt-page-rotateCubeRightIn">
                <img id="page-2-img-2" src="img/img_09.png" class="pt-page-rotateCubeRightIn">
                <img id="page-2-img-3" src="img/img_03.png" class="pt-page-rotateCubeRightIn">
                <img id="page-2-img-4" src="img/page2_text.png" class="pt-page-rotateCubeRightIn">
                <img id="page-2-img-6" src="img/yihao_r.png" class="pt-page-rotateCubeRightIn">
                <img id="page-2-img-5" src="img/yihao_l.png" class="pt-page-rotateCubeRightIn">
                <img id="page-2-img-7" src="img/mojiao.png" class="pt-page-rotateCubeRightIn">
            </div>
        </div>
        <div class="page page3 page-3-1 hide">
            <div class="wrap">
                <img id="page-3-img-1" src="img/1122.jpg" class="pt-page-rotateCubeRightIn">
            </div>
        </div>
        <div class="page page4 page-4-1 hide">
            <div class="wrap">
                <img id="page-4-img-1" src="img/137.jpg" class="pt-page-rotateCubeLeftIn">
            </div>
        </div>
    </div>


</body>
</html>
