<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>京东详情页</title>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/details.css" rel="stylesheet" type="text/css" />

</head>
<script src="js/hxsd_tools.js"></script>
<script src="js/hxsd_widget.js"></script>
<script src="js/details.js"></script>
<body>
<div class="header">
	<div class="top">
    	<div class="inner">
        	<div class="diqu">送至：北京<i>◇</i></div>
            <div class="nav">
            	<ul>
                	<li>你好，<a href="#">请登录</a></li>
                	<li><a href="#">免费注册</a></li>
                    <li class="line"></li>
                	<li><a href="#">我的订单</a></li>
                    <li class="line"></li>                   
                	<li><a href="#">我的京东<i>◇</i></a></li>
                    <li class="line"></li>
                	<li><a href="#">京东会员</a></li>
                    <li class="line"></li>
                	<li><a href="#">企业采购</a></li>
                    <li class="line"></li>
                	<li><a href="#"><span></span>手机京东<i>◇</i></a></li>
                    <li class="line"></li>
                	<li><a href="#">关注京东<i>◇</i></a></li>
                    <li class="line"></li>
                   	<li><a href="#">客户服务<i>◇</i></a></li>
                    <li class="line"></li>
                	<li><a href="#">网站导航<i>◇</i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mid">
        <div class="mid_bot">
        	<div class="inner clear">
            	<div class="logo"><img src="images/logo-201305.png" /></div>
                <div class="search">
                	<form>
                    	<input class="text" type="text" value="机甲手机壳" />
                    	<input  class="sub" type="submit" value="搜索" />
                    </form>
                    <div class="tags">
                    	<a href="#" class="one">七夕礼品</a>
                    	<a href="#">消暑神器</a>
                    	<a href="#">农用物资</a>
                    	<a href="#">鲜花99元</a>
                    	<a href="#">电影京券</a>
                    	<a href="#">卷发棒</a>
                    	<a href="#">欧式床</a>
                    	<a href="#">小米电脑</a>
                    	<a href="#">中式吸顶灯</a>
                    </div>
                </div>
                <div class="buy">
                	<a href="#">我的购物车</a>
                    <i>></i>
                    <div class="number">666</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot">
    	<div class="inner clear">
        	<div class="quanbufenlei">全部商品分类</div>
    		<ul>
        		<li><a href="#">服装城</a></li>
        		<li><a href="#">美妆馆</a></li>
        		<li><a href="#">京东超市</a></li>
        		<li><a href="#">生鲜</a></li>
        		<li><a href="#">全球购</a></li>
        		<li><a href="#">闪购</a></li>
        		<li><a href="#">团购</a></li>
        		<li><a href="#">拍卖</a></li>
        		<li><a href="#">金融</a></li>
       	 	</ul>
    	</div>
    </div>
</div>

<div class="main clear">
    <div class="title">
        <div class="inner">
        	<a href="javascript:;">手机<span>></span></a><a href="javascript:;">手机通讯<span>></span></a><a href="javascript:;">小米手机新品</a>
        </div>
    </div>
    <div class="intro">
        <div class="inner">
            <div class="left_pic clear">
                <div id="div1" class="big_pic clear">
                	<img id="big_pic" src="images/phone1.jpg">
<!--                	<i class="fa fa-search"></i>
--> 				<span></span>
               </div>
               <!--放大镜-->
               <div id="div2">
                	<img id="bigImg" src="images/phone1da.jpg" />
               </div>
                <div class="small_pic clear">
                	<i class="qian"></i>
                    <ul class="xiaotu">
                        <li class="ac"><img src="images/phone1.jpg"></li>
                        <li><img src="images/phone2.jpg"></li>
                        <li><img src="images/phone3.jpg"></li>
                        <li><img src="images/phone4.jpg"></li>
                        <li><img src="images/phone5.jpg"></li>
                        <li><img src="images/phone6.jpg"></li>
                    </ul>
                	<i class="hou"></i>
                </div>
                <div class="bot clear">
                	<p>商品编号：2655006</p>
                    <ul class="clear">
                    	<li><a href="javascript:;"><i class="i1"></i></a><p>关注</p></li>
                    	<li><a href="javascript:;"><i class="i2"></i></a><p>分享</p></li>
                    </ul>
                </div>
    	    </div>
            
            <div class="right_detail clear">
				<h4>小米5 全网通 高配版 3GB内存 64GB ROM 黑色 移动联通电信4G手机</h4>            
            	<p class="zengsong">限时送钢化膜，送完即止！9.1日前白条6期免息，购机评论送话费！
                <a class="a1" href="javascript:;">红米Note4新品上市，抽奖赢手机，以旧换新用户更享优惠！</a><br>
				选择下方购买方式→【移动优惠购】→【北京老用户优惠购机】即享优惠【套餐享7折】</p>
            	<div class="price clear">
                	<div class="left clear">
                    	<div class="top">
                        	<p>京东价</p><div class="jiage"><span><sub>¥</sub>2099</span></div><a href="javascript:;">降价通知</a>
                        </div>
                    	<div class="bot clear">
                        	<p>促  销</p>
                            <div class="zengpin"><p>赠品</p><img src="images/zengping_03.jpg"></div>
                            <span>x 1</span>
                            <p class="zengwan">（赠完即止）</p>
                        </div>
                    
                    </div>
                	<div class="right">
                    	<p>累计评价</p>
                        <span><a href="">153029</a></span>
                    </div>
                </div>
                <div class="zhichi clear">
                	<dl>
                    	<dt>支 持</dt>
                    	<dd class="dd1"><i class="fa fa-refresh"></i><a href="javascript:;">以旧换新，闲置手机回收</a></dd>
                    	<dd><i class="fa fa-signal"></i><a href="javascript:;">4g套餐18元起</a></dd>
                    	<dd><i class="fa fa-gift"></i><a href="javascript:;">礼品购</a></dd>
                    </dl>
                </div>
                <div class="peisong clear">
                	<dl class="clear">
                    	<dt>配送至</dt>
                    	<dd class="dd1 clear">
                            <p><a href="javascript:;">北京朝阳区三环以内 <i>∨</i></a></p>
                            <div class="diqu">
                            	<h2>选择新地址</h2>
                            	<ul>
                                	<li>北京</li>
                                	<li>朝阳区</li>
                                	<li>三环以内</li>
                                </ul>
                            </div>
                        </dd>
                        <dd><span>有货</span></dd>
                    	<dd class="dd2">支持</dd>
                    	<dd>
                        	<ul>
                            	<li>99免运费</li><li class="shugang">|</li> <li>货到付款</li><li class="shugang">|</li><li>夜间配<i>∨</i></li>
                            </ul>
                        </dd>
                    </dl>
                    <p class="pp1">由 京东 发货，并提供售后服务。23:00前完成下单,预计<span>明天(09月01日)</span>送达</p>
                </div>
            
                <div class="color clear">
                	<dl>
                    	<dt>选择颜色</dt>
                        <dd><img src="images/se1.jpg"><p>白色</p></dd>
                        <dd class="ac"><img src="images/se2.jpg"><p>黑色</p></dd>
                        <dd><img src="images/se3.jpg"><p>金色</p></dd>
                        <dd><img src="images/se4.jpg"><p>粉色</p></dd>
                    </dl>
                </div>
            
                <div class="banben clear">
                	<dl>
                    	<dt>选择颜色</dt>
                        <dd>标准版</dd>
                        <dd class="ac">高配版</dd>
                        <dd>尊享版（3D陶瓷机身）</dd>
                    </dl>
                </div>
                
                <div class="fangshi1 clear">
                	<dl>
                    	<dt>购买方式</dt>
                        <dd class="ac">裸机</dd>
                        <dd>套餐</dd>
                    </dl>
                </div>
                
                <div class="fangshi2 clear">
                	<dl>
                    	<dt>购买方式</dt>
                        <dd class="ac">官方标配</dd>
                    </dl>
                </div>
            
                <div class="fenqi clear">
                	<dl>
                    	<dt>白条分期</dt>
                        <dd>30天免息</dd>
                        <dd>699.67x3期</dd>
                        <dd>349.83x6期</dd>
                        <dd>180.16x12期</dd>
                        <dd>97.95x24期</dd>
                    </dl>
                </div>
            	
                <div class="buy clear">
                	<div class="num">
                        <p>1</p>
                    	<div class="jiajian">
                        	<div class="plus"><a href="javascript:;">+</a></div>
                        	<div class="reduction"><a href="javascript:;">-</a></div>
                        </div>
                    </div>
                	<div class="buy_now"><a href="javascript:;">立即购买</a></div>
                </div>
                
                <div class="guanggao">
                	<p>本地活动·<span><a href="javascript:;">10元抢1GB流量 >></a></span></p>
                    <p>温馨提示·<span>支持7天无理由退货</span></p>
               	</div>
            </div>
    	</div>
    </div>

</div>

<div class="taocan">
	<div class="inner">
    	<ul class="ul_top clear">
        	<li class="ac">人气配件</li>
        	<li>手机保护套</li>
        	<li>移动电源</li>
        </ul>
    	<div class="gengduo clear">
        	<ul class="ul1">
            	<li>
                	<img src="images/56cd80c5N06181c58.jpg">
                  <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
                </li>
            	<li>
                	<img src="images/5715d70cN21b302f3.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/574861daN461e4539.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/56ef99fbN37623d57.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/578d916fN913da41a.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/576cda4bNfde2bb79.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            </ul>
            <ul>
            	<li>
                	<img src="images/5715d70cN21b302f3.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/574861daN461e4539.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/578d916fN913da41a.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/576cda4bNfde2bb79.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/56cd80c5N06181c58.jpg">
                  <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
                </li>
            	<li>
                	<img src="images/56ef99fbN37623d57.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            </ul>
            <ul>
            	<li>
                	<img src="images/576cda4bNfde2bb79.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/56ef99fbN37623d57.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/56cd80c5N06181c58.jpg">
                  <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
                </li>
            	<li>
                	<img src="images/5715d70cN21b302f3.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/574861daN461e4539.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            	<li>
                	<img src="images/578d916fN913da41a.jpg">
                    <p>小米5 全网通 高配版 3GB内存 64GB ROM 白</p>
              </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>




































































