<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品中心</title>
	<meta name="keywords" content="" />
	<link href="css/news.css" type="text/css" rel="stylesheet" />
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/menu.js"></script>

	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="js/modernizr.custom.js"></script>
	<script type="text/javascript" src="js/jquery.slicebox.js"></script>
	<script src="js/style.js"></script>

</head>

<body>
<!--头部-->
<div class="t-yan"></div>
<div class="barder">
	<div  class="barder-l">
		<a href="index.html"><img src="images/logo1.png"></a>
	</div>
	<div class="barder-c">
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="about.html">公司简介</a></li>
			<li><a href="news.html">新闻中心</a></li>
			<li><a href="cp.html">产品中心</a></li>
			<li><a href="lxwm.html">联系我们</a></li>
		</ul>
	</div>

</div>
<!--banna-->
<!--<div class="banla"> <img src="images/bannr_09.jpg" /></div>-->
<div class="wrapper">
	<ul id="sb-slider" class="sb-slider">
		<li>
			<a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/bannr_09.jpg" alt="image1"/></a>
			<div class="sb-description">
				<h3>商城热卖</h3>
			</div>
		</li>
		<li>
			<a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/banner-01.jpg" alt="image2"/></a>
			<div class="sb-description">
				<h3>动感地带</h3>
			</div>
		</li>
		<li>
			<a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/banner-02.jpg" alt="image1"/></a>
			<div class="sb-description">
				<h3>秋季上新</h3>
			</div>
		</li>
		<li>
			<a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/banner-03.jpg" alt="image1"/></a>
			<div class="sb-description">
				<h3>潮流前线</h3>
			</div>
		</li>
	</ul>

	<div id="shadow" class="shadow"></div>
	<div id="nav-arrows" class="nav-arrows">
		<a href="#">Next</a>
		<a href="#">Previous</a>
	</div>

	<div id="nav-dots" class="nav-dots">
		<span class="nav-dot-current"></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

</div><!-- /wrapper -->

<!--内容-->
<div class="main">
<div class="mainl">
  <div  class="mainl-s">
    <ul>
      <li  >
    	<a href="cp.html" class="bg">产品中心</a>
    	</li>
    </ul>
  </div>
  <div class="mainl-c">
    <ul>
		<li><a href="about.html">公司简介</a></li>
		<li><a href="news.html">新闻中心</a></li>
		<li><a href="cp.html">产品中心</a></li>
		<li><a href="lxwm.html">联系我们</a></li>
    </ul>
  </div>

</div>
<div class="mainr">
	<div class="mainr-s">
		<div class="mainr-sl pr">
			<img src="images/PRODUCT.png">
			<p>产品中心<br /><span>PRODUCT CENTER</span></p>
		</div>
	<div class="mainr-sr">
		当前位置:<a href='http://localhost/'>主页</a> > <a href='cp.html'>产品中心</a> > </a>
	</div>

	</div>
	<div class="mainr-tu">
		<ul>
			<li>
				<a href="javascript:;"><img src="images/wu01.jpg"  ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥89</h4>
                </div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/wu02.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥79</h4>
                </div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/wu03.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥139</h4>
                </div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/wu04.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥159</h4>
                </div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/wu05.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥199</h4>
                </div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/wu06.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥189</h4>
                </div>
			</li>
			<li>
				<a href="javascript:;"><img src="images/wu07.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥99</h4>
                </div>

            </li>
			<li>
				<a href="javascript:;"><img src="images/wu08.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥119</h4>
                </div>

            </li>
			<li>
				<a href="javascript:;"><img src="images/wu01.jpg" ></a>
			    <p><a href="javascript:;">秋装上新</a></p>
                <div class="pup">
                    <h4>￥129</h4>
                </div>

            </li>
		</ul>

	</div>
	<div class="ye">
			<p><span class="pageinfo">共 <strong>1</strong>页<strong>9</strong>条记录</span></p>
	</div>
</div>
</div>
	<div class="jie">
		<div class="shu">
			<p>咨询热线:　4000-4000-4000　  Copyright fzw.net
				<a href="http://metersbonwe.banggo.com/">版权所有</a>
			</p>
		</div>
	</div>
</body>
</html>
