<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的网站</title>
    <meta name="keywords" content="我的网站" />
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/menu.js"></script>

    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/index.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/jquery.slicebox.js"></script>
    <script src="js/style.js"></script>
    <script src="js/index.js"></script>
</head>

<body>

<!--头部-->
<div class="t-yan"></div>
<div class="barder">
    <div  class="barder-l">
        <a href="index.html"><img src="images/logo1.png" /></a></div>
    <div class="barder-c">
        <ul><li><a href="javascript:;">首页</a></li>
            <li><a href="about.html">公司简介</a></li>
            <li><a href="news.html">新闻中心</a></li>
            <li><a href="cp.html">产品中心</a></li>
            <li><a href="lxwm.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--banna-->
<!--<div class="banla"> <img src="images/bannr_09.jpg" /></div>-->
<div class="wrapper">

    <ul id="sb-slider" class="sb-slider">
        <li>
            <a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/bannr_09.jpg" alt="image1"/></a>
            <div class="sb-description">
                <h3>商城热卖</h3>
            </div>
        </li>
        <li>
            <a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/banner-01.jpg" alt="image2"/></a>
            <div class="sb-description">
                <h3>动感地带</h3>
            </div>
        </li>
        <li>
            <a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/banner-02.jpg" alt="image1"/></a>
            <div class="sb-description">
                <h3>秋季上新</h3>
            </div>
        </li>
        <li>
            <a href="http://metersbonwe.banggo.com/" target="_blank"><img src="images/banner-03.jpg" alt="image1"/></a>
            <div class="sb-description">
                <h3>潮流前线</h3>
            </div>
        </li>
    </ul>

    <div id="shadow" class="shadow"></div>
    <div id="nav-arrows" class="nav-arrows">
        <a href="#">Next</a>
        <a href="#">Previous</a>
    </div>
    <!--轮播按钮-->
    <div id="nav-dots" class="nav-dots">
        <span class="nav-dot-current"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</div><!-- /wrapper -->

<!--内容01-->
<div class="main">
    <div  id="banner">
        <ul>
            <li>
                <img class="img1" src="images/bangshi.jpg"/>
                <b></b>
                <div class="tou">
                    <img src="images/kuang-bg.jpg" />
                    <h2>军旅潮流</h2>
                    <p>潮流界的冷暴力<p>
                </div>
            </li>
            <li>
                <img class="img1" src="images/bangshi1.jpg"/>
                <b></b>
                <div class="tou">
                    <img src="images/kuang-bg.jpg" />
                    <h2>幻想空间</h2>
                    <p>IMAGING WORLD<p>
                </div>
            </li>
            <li>
                <img class="img1" src="images/bangshi2.jpg"/>
                <b></b>
                <div class="tou">
                    <img src="images/kuang-bg.jpg" />
                    <h2>新鲜职场</h2>
                    <p>轻都市风尚<p>
                </div>
            </li>
            <li>
                <img class="img1" src="images/bangshi3.jpg"/>
                <b></b>
                <div class="tou">
                    <img src="images/kuang-bg.jpg" />
                    <h2>“包”治百病</h2>
                    <p>我用我的方式环游世界<p>
                </div>
            </li></ul>
    </div>
    <div  id="main-c">

        <a href="javascript:;" class="bg">1</a>
        <a href="javascript:;">2</a>
        <a href="javascript:;">3</a>
        <a href="javascript:;">4</a>
    </div>
    <div class="main-r">
        <p>WHAT WE DO?</p>
        <img src="images/ABOUT.png" />
        <div class="gong">
            <a href="#">公司简介</a>
        </div>
        <img src="images/360.png" class="d360"  />
        <br /><span>全方位专业服务</span>

    </div>
    <div class="main-2r">
        <h4>公司服务</h4>
        <p>上海美特斯邦威服饰股份有限公司成立于1995年。公司主要研发、采购和营销自主创立的Meters/bonwe和ME&CITY两大品牌时尚休闲服饰。</p>
        <p class="p2">通过采用"生产外包、直营销售与加盟相结合"的经营模式，专注于品牌建设于推广、产品研发、零售网络建设和供应链管理。</p>
        <a href="about.html">企业文化</a>
        <a href="about.html">企业发展</a>
        <a href="about.html">荣誉资质</a>

    </div>

</div>
<!--内容02-->
<div class="xinwen">
    <img  src="images/xinwenz.jpg"/>
    <a href="news.html">查看更多</a>
</div>
<div  class="d-bg">
    <div  class="main02">

        <div  class="main02-l">
            <div class="hoverde"> <a href="javascript:;"><img src="images/1-1606132115090-L.jpg" /></a></div>
            <p>&nbsp;5月27日上午11点，韩国世正集团与美特斯邦威战略合作的时尚男装品牌CHRIS CHRISTY中国区首家门店在苏州荣耀开启，
                品牌16春夏系列在安宰贤、金元中的帅气示范之下，迅速成为韩国今年的热卖爆款。</p>

        </div>

        <div class="main02-c">
            <div class="hoverde"><a href="javascript:;"><img src="images/1-1606132114100-L.jpg"  /></a></div>
            <p>&nbsp;“匠心筑梦 飞跃未来”，2016年9月8日，“Metersbonwe品牌创新暨民族服饰品牌渠道变革升级论坛”在上海美特斯邦威总部隆重举行
            </p>

        </div>

        <div class="main02-r">
            <div class="hoverde"><a href="javascript:;"><img src="images/1-1606132114400-L.jpg" /></a></div>
            <p>&nbsp;6月底以来武汉遭遇罕见强暴雨侵袭，汛情引发全国关注。受江河湖库水位暴涨影响，武汉全城百余处被淹，
                城区交通陷入瘫痪，部分地区电力、通讯中断，近半城区严重渍水，多个地铁站被倒灌沦陷，城区及周边多地受灾严重，数万人被迫转移。
                美特斯邦威在获悉灾情后积极行动，第一时间通过中国扶贫基金会捐出价值84.05万元的物资支援灾区一线</p>
        </div>
    </div>
</div>
<!--内容03-->
<div class="pa">
    <img src="images/PRODUCT.png" />
    <p>产品中心<br>
        <span>PRODUCT CENTER</span>
    </p>
</div>
<!--无缝滚动的-->
<div class="main03" >
    <div class="content">
        <ul >

        </ul>
    </div>
    <!--左右切换按钮-->
    <div class="pre"><</div>
    <div class="next">></div>
</div>

<!--底部-->
<div class="dibu">
    <div class="b-g"><a href="#" class="toTop"></a>
        <div class="fo">
            <form >
                <input type="hidden" name="action" value="post" />
                <input type="hidden" name="diyid" value="1" />
                <input type="hidden" name="do" value="2" />
                <table>
                    <tr>
                        <td> <input type="text" placeholder="姓名" name='xingming' id="mave"/></td>
                        <td><input type="text" name='dhhm' placeholder="电话号码"  class="b-gy"/></td>
                    </tr>
                    <tr><td colspan="2"><textarea cols="50" rows="5" name='nr' class="wenben"></textarea></td></tr>
                    <input type="hidden" name="dede_fields" value="xingming,text;dhhm,text;nr,multitext" />
                    <input type="hidden" name="dede_fieldshash" value="a95c182131eeb021412b006a4c308772" />
                    <tr><td colspan="2" class="ju"><input type="submit" name="submit" value="我要提交" class="ti" /></td>
                    </tr>
                </table>
            </form>
            <p>内容：</p>
        </div>
    </div>
</div>
</body>
